@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;500;700&family=Syne:wght@400;500;600;700&display=swap');

* {
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #E9E9E9;
    color:#000;
    overflow-x: hidden;
    font-family: 'Syne';
}





